<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue-Firebase Course</title>
</head>
<body>
    <!-- <main>
        <h1>{{ mensaje }}</h1>
        <input type="text" v-model="mensaje">
        <pre>{{ $data }}</pre>
    </main> -->
    <main>
        <h1 v-show="mostrar">Condicional v-show</h1>
        <h2 v-if="condicion">Condicional v-if</h1>
        
        <h3 v-if="edad < 18"> No puedes entrar...</h3>
        <h3 v-else-if="edad > 200"> Eres inmortal...</h3>
        <h3 v-else> Puedes entrar.</h3>

        <template v-if="condicion">
            <h1> Mostrando contenido de bloque/template con v-if</h1>
        </template>
        <h1 v-else> No muestra contenido de bloque/template con v-if</h1>
        <pre>{{ $data }}</pre>
    </main>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>